[submodule "pack/gen/start/nerdtree"]
	path = pack/gen/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "pack/gen/start/agrep"]
	path = pack/gen/start/agrep
	url = https://github.com/ramele/agrep
	ignore = untracked
[submodule "pack/gen/start/rainbow_parentheses.vim"]
	path = pack/gen/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
	ignore = untracked
[submodule "pack/gen/start/surround"]
	path = pack/gen/start/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "pack/gen/start/vim-nerdtree-tabs"]
	path = pack/gen/opt/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	ignore = untracked
[submodule "pack/gen/start/vim-signify"]
	path = pack/gen/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
	ignore = untracked
[submodule "pack/gen/start/vim-wordmotion"]
	path = pack/gen/start/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
	ignore = untracked
[submodule "pack/org/opt/vim-orgmode"]
	path = pack/org/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
	ignore = untracked
[submodule "pack/org/opt/speeddating"]
	path = pack/org/opt/speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "pack/org/opt/calendar"]
	path = pack/org/opt/calendar
	url = https://github.com/mattn/calendar-vim
	ignore = untracked
[submodule "pack/gen/start/vim-latex-objects"]
	path = pack/gen/start/vim-latex-objects
	url = https://github.com/gibiansky/vim-latex-objects.git
	ignore = untracked
[submodule "pack/gen/start/xml.vim"]
	path = pack/gen/start/xml.vim
	url = https://github.com/othree/xml.vim.git
[submodule "pack/gen/opt/vim-gutentags"]
	path = pack/gen/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/gen/opt/goyo"]
	path = pack/gen/opt/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/gen/opt/limelight"]
	path = pack/gen/opt/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/gen/start/vim-nftables"]
	path = pack/gen/start/vim-nftables
	url = https://github.com/nfnty/vim-nftables.git
[submodule "pack/gen/start/vim-repeat"]
	path = pack/gen/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/gen/start/vim-svelte"]
	path = pack/gen/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
[submodule "pack/gen/start/vim-javascript"]
	path = pack/gen/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/gen/start/html5.vim"]
	path = pack/gen/start/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "pack/gen/start/fzf.vim"]
	path = pack/gen/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
